<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Posts:</strong>
  <ul>
  <% @user.posts.each do |post| %>  <!-- go thru all the posts one by one -->
    <!-- = stands for displaying -->
  <li> <%= link_to post.title, post_path(post) %> </li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
